{% extends 'base.html.twig' %}

{% block title %}Reservas{% endblock %}

{% block body %}
    <h1>Reservas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Libro</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.usuario.email }}</td>
                <td>{{ reserva.libro.titulo }}</td>
                <td>
                    <a href="{{path('app_prestamo_new', {libro_id:reserva.libro.id})}}">Ir a préstamo</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No encontramos reservas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
