{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registrarse</h1>

    <a href="{{ url('app_registro_estudiantes') }}">Soy estudiante</a>
    <a href="{{ url('app_registro_profesores') }}">Soy profesor</a>
{% endblock %}
