{% extends 'base.html.twig' %}

{% block title %}Registrarse
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
	<div class="container-fluid landing-panel">
		<div class="container-lg align-items-stretch">
			<div class="row">
				<div class="col d-none d-lg-block d-md-none">
					<img src="{{ asset('images/login/niños_pila.png') }}" alt="Niños en columna">
				</div>

				<div class="col d-flex align-items-center justify-content-center">
					<div>
						<h1>Deseo registrarme como:</h1>
						<div>
							<a class="btn btn-primary" href="{{ path('app_registro_estudiantes') }}">Estudiante</a>
							<a class="btn btn-primary" href="{{ path('app_registro_profesores') }}">Profesor</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
