{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
    <h1>Registrar profesor</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

    {{ form_rest(form) }}

    <button type="submit">Registrarse</button>

    {{ form_end(form) }}
{% endblock %}
