{% extends 'base.html.twig' %}

{% block title %}Edit Descriptor{% endblock %}

{% block body %}
    <h1>Edit Descriptor</h1>

    {{ include('crud/descriptor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_descriptor_crud_index') }}">back to list</a>

    {{ include('crud/descriptor/_delete_form.html.twig') }}
{% endblock %}
