{% extends 'base.html.twig' %}

{% block title %}New Descriptor{% endblock %}

{% block body %}
    <h1>Create new Descriptor</h1>

    {{ include('crud/descriptor/_form.html.twig') }}

    <a href="{{ path('app_descriptor_crud_index') }}">back to list</a>
{% endblock %}
