{% extends 'base.html.twig' %}

{% block title %}Edit Administrador{% endblock %}

{% block body %}
    <h1>Edit Administrador</h1>

    {{ include('crud/administrador/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administrador_index') }}">back to list</a>

    {{ include('crud/administrador/_delete_form.html.twig') }}
{% endblock %}
