{% extends 'base.html.twig' %}

{% block title %}Crear nuevo préstamo{% endblock %}

{% block body %}
    <h1>Crear nuevo préstamo</h1>

    {{ include('prestamo/_form.html.twig') }}

    <a href="{{ path('app_prestamo_index') }}">volver a la lista</a>
{% endblock %}
