{% extends 'admin.html.twig' %}

{% block title %}Nuevo prestamo{% endblock %}

{% block main %}
    <h1>Crear nuevo préstamo</h1>

    {{ include('components/prestamo_form.html.twig') }}

    <a href="{{ path('app_prestamo_index') }}">Volver a la lista</a>
{% endblock %}
