{% extends 'base.html.twig' %}

{% block title %}New Prestamo{% endblock %}

{% block body %}
    <h1>Create new Prestamo</h1>

    {{ include('prestamo/_form.html.twig') }}

    <a href="{{ path('app_prestamo_index') }}">back to list</a>
{% endblock %}
