{% extends 'base.html.twig' %}

{% block title %}Inicio
{% endblock %}


{% block body %}
	<div class="container-fluid bg-primary landing-panel">
		<div class="container-lg bg-primary">
			<div class="row align-items-center">
				<div class="col-sm-4 pb-5">
					<span>Mar-Team presenta</span>
					<h1 style="font-weight: 600;">Libreando</h1>
					<p class="h5">Descubre nuestra amplia colección de libros, desde clásicos y novelas hasta textos técnicos y especializados.</p>
				</div>

				<div class="col-sm-8">
					<img class="img-fluid" src="{{ asset('images/index/ninos_grupo.png') }}" alt="Grupo de jovenes leyendo"/>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid landing-panel">
		<div class="container-lg">
			<div class="row pt-4 align-items-center">
				<div class="col-sm-8">
					<img class="img-fluid" src="{{ asset('images/index/jovenes-grupo-2.png') }}"/>
				</div>
				<div class="col-sm-4 pt-sm-5">
					<p class="h5">Navega por nuestra colección, explora las diferentes categorías y encuentra el libro perfecto para ti. Pídelo ahora en nuestra biblioteca y comienza tu viaje de lectura hoy mismo</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
