{% extends 'base.html.twig' %}

{% block title %}Editar copia de libro{% endblock %}

{% block body %}
    <h1>Editar copia de "{{ libro.titulo }}"</h1>

    {{ include('crud/copia_libro/_form.html.twig', {'editing': true}) }}

    <a href="{{ path('app_copia_libro_crud_index', {'id': libro.id}) }}">Volver a la lista</a>

    {{ include('crud/copia_libro/_delete_form.html.twig') }}
{% endblock %}
