{% extends 'base.html.twig' %}

{% block title %}Nueva copia de libro{% endblock %}

{% block body %}
    <h1>Crear nueva copia de libro</h1>

    {{ include('crud/copia_libro/_form.html.twig') }}

    <a href="{{ path('app_copia_libro_crud_index', {'id': libro.id}) }}">Volver a la lista</a>
{% endblock %}
