{% extends 'base.html.twig' %}

{% block title %}New Autor{% endblock %}

{% block body %}
    <h1>Create new Autor</h1>

    {{ include('crud/autor/_form.html.twig') }}

    <a href="{{ path('app_autor_crud_index') }}">back to list</a>
{% endblock %}
