body {
    font-family: "DM Sans", sans-serif;
}

.admin-div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items:end;
}
.title {
    font-size: 2rem;
    padding-left: 20px;
}

.btn-dashboard {
    display: grid;
    grid-template-columns: 25% 75%;
    place-items: center;
    width: 300px;
    height: 80px;
    background-color: #99b1e5;
    margin: 20px;
    padding: 0;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
}

.btn-dashboard svg {
    height: 40px;
    width: 40px;
}

.btn-dashboard:hover {
    background-color: #7a9edc;
}

.btn-dashboard-logout {
    display: grid;
    grid-template-columns: 25% 75%;
    place-items: center;
    width: 300px;
    height: 80px;
    background-color: #ad0f10;
    margin: 20px;
    padding: 0;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
}

.btn-dashboard-logout svg {
    height: 40px;
    width: 40px;
    fill: #ffffff;
}

.btn-dashboard-logout:hover {
    background-color: #a52626;
}