body {
    font-family: "DM Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 3%;
    margin-left: 5%;
}

.separator {
    margin-bottom: 5em;
}

.book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
}

.cover img {
    height: auto;
    width: 290px;
    box-shadow: 1.5vw 0 15px rgba(0, 0, 0, 0.25);
}

.available-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 8%;
}

.available-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    color:#000;
    background-color: #ffbd46;
    border-radius: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.available-btn button:hover {
    color:#000;
    background-color: #e4a83a;
}

.add-list-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 8%;
    margin-top: 15%;
}
.add-list-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    background-color: #fff;
    width: 250px;
    height: 80px;
    border-radius: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 6px solid #ffbd46;
    cursor: pointer;
}

.add-list-btn button:hover {
    background-color:#dddbdb;   
}

.book-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: -2.5%;
}

.book-info h1 {
    font-family: "Playfair Display";
    font-size: 4rem;
    font-weight: 450;
}

.autors a {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

.autors a:hover {
    text-decoration: underline;
}

.autors a:not(:last-child)::after {
    content: ',';
}

.description {
    margin-top: 4.5%;
}

.description table{
    width: 100%;
}

.description table th {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    width: 5%;
}

.description table td {
    font-size: 1.4rem;
    font-weight: 450;
    text-align: center;
    position: relative;
}

.description table .secondary ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.description table .secondary ul li {
    font-size: 1.4rem;
    font-weight: 450;
    display: inline;
    position: relative;
}

.description table .secondary ul li:not(:last-child)::after {
    content: ', '; 
    display: inline;
}

.this-edition {
    margin-top: 4.5%;
    display: flex;
    flex-direction: column;
}

.this-edition h2 {
    font-size: 1.6rem;
    font-family: "Playfair Display";
    margin-bottom: 2.5%;
}

.this-edition table {
    width: 100%;
    border-spacing: 0.5vh;
}

.this-edition table th {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    width: 40%;
}

.this-edition table td {
    font-size: 1.4rem;
    font-weight: 450;
}


.admin-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.admin-view h2{
    font-size: 1.7rem;
}

.admin-btn{
    display: flex;
}

#edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000;
    background-color: #ffbd46;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 20px 20px;
}

#edit-btn:hover {
    color:#000;
    background-color: #e4a83a;
}

#delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #ad0f10;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 20px 20px;
}

#delete-btn:hover {
    background-color: #a52626;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin-top: 8%;
        margin-left: 0;
    }

    .cover {
        width: 70%;
        height: auto;
    }

    .available-btn, .add-list-btn {
        width: 70%;
        min-width: 240px;
        height: 8%;
        min-height: 40px;
        margin-top: 4%;
    }

    .available-btn button, .add-list-btn button {
        font-size: 1.20rem;
    }
    .book-info {
        margin-top: 20%;
    }

    .book-info h1 {
        font-size: 4rem;
    }
    
    .autors a {
        font-size: 1.8rem;
        line-height: 1;
    }

    .description table th {
        font-size: 1rem;
        width: 30%;
    }
    
    .description table td {
        font-size: 1rem;
    }

    .description table .secondary ul li {
        font-size: 1rem;
    }

    .this-edition {
        margin-bottom: 10vh;
    }

    .this-edition h2 {
        font-size: 1.2rem;
    }
        
    .this-edition table th {
        font-size: 1rem;
        width: 35%;
    }
    
    .this-edition table td {
        font-size: 1rem;
    }

    .admin-view h2 {
        font-size: 1.35rem;
    }
    
    #delete-btn, #edit-btn{
        font-size: 1rem;
        padding: 12px 30px;
    }
}

@media (max-height: 600px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        margin-top: 4%;
        margin-left: 0;
    }

    .book-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cover {
        width: auto;
        height: 100%;
    }

    .cover img {
        width: 30vw;
    }


    .available-btn, .add-list-btn {
        width: 25%;
        min-width: 240px;
        height: 8%;
        min-height: 40px;
        margin-top: 2%;
    }

    .available-btn button, .add-list-btn button {
        font-size: 1.25rem;
        padding: 5%;
    }
    .book-info {
        margin-top: 10%;
    }

    .book-info h1 {
        font-size: 5rem;
    }
    
    .autors a {
        font-size: 2rem;
        line-height: 1;
    }

    .description table th {
        font-size: 1.5rem;
        width: 30%;
    }
    
    .description table td {
        font-size: 1.5rem;
    }

    .description table .secondary ul li {
        font-size: 1.5rem;
    }
    .this-edition {
        margin-bottom: 10vh;
    }

    .this-edition h2 {
        font-size: 1.8rem;
    }
        
    .this-edition table th {
        font-size: 1.5rem;
        width: 35%;
    }
    
    .this-edition table td {
        font-size: 1.5rem;
    }

    .admin-view h2 {
        font-size: 1.35rem;
    }
    
    .admin-btn a {
        font-size: 1.35rem;
        padding: 12px 40px;
    }
}