.container {
    display: flex;
    flex-direction: column;
}

.libreando-content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    min-height: 100vh;
    background-color: #99b1e5;
}

.libreando-main {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.libreando-title {
    display: flex;
    flex-direction: column;    
}

.libreando-title h2{
    font-size: 2rem;
    font-weight: 550;
    width: 80%;
    padding-left: 15%;
    margin-bottom: -3%;
}

.libreando-title h1{
    font-size: 8rem;
    margin-bottom: 7%;
    line-height: 1.1;
}

.libreando-text {
    display: flex;
    align-items: flex-start;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.25;
}

.libreando-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.libreando-image img {
    width: 90%;
    height: auto;
}

.libreando-desc {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    min-height: 100vh;
}

.desc-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-image img {
    width: 75%;
    height: auto;
}

.desc-text {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    line-height: 1.25;
}

.books {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.books h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.books svg {
    width: 100px;
    height: 100px;
    cursor: pointer;
    fill: #e0e0e0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.books svg:hover {
    transition: 0.8s;
    fill: #000000;
}

.right-btn {
    right: 5%;
}

.left-btn {
    left: 5%;
}

.books-slider {
    width: 80%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5));
    gap: 10px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.books-slider :where(.book-container, .book-img) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.books-slider.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.books-slider.dragging .book-container {
    cursor: grab;
    user-select: none;
}

.book-container {
    scroll-snap-align: start;
    height: 300px;
    width: 200px;
    list-style-type: none;
}

.book-container a {
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.book-container a:hover {
    text-decoration: underline;
}

.book-img {
    height: 250px;
    width: auto;
}

/*Laptop*/
@media (min-width: 900px) and (max-width: 1280px) and (orientation: landscape) {
    .libreando-title h2{
        font-size: 1.5rem;
        padding-left: 10%;
    }
    
    .libreando-title h1{
        font-size: 5rem;
    }
    
    .libreando-text {
        font-size: 2rem;
    }
    
    .desc-text {
        font-size: 2rem;
    }
    
    .books h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    
    .book-container a {
        font-size: 1.2rem;
    }
}

/*Tablet*/
/*Vertical*/
@media (min-width: 481px) and (max-width: 1240px) and (orientation: portrait) {
    .libreando-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
        
    .libreando-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .libreando-title h2{
        font-size: 1.5rem;
    }
    
    .libreando-title h1{
        font-size: 5rem;
    }
    
    .libreando-text {
        font-size: 2rem;
    }

    .libreando-image {
        margin-top: 10%;
    }
    
    .libreando-image img {
        width: 80%;
        height: auto;
    }

    .libreando-desc {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .desc-text {
        font-size: 2.5rem;
    }

    .desc-image {
        margin-top: 10%;
    }

    .desc-image img {
        width: 85%;
        height: auto;
    }
    

    .books svg {
        width: 80px;
        height: 80px;
    }
        
    .books h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .book-container {
        height: 250px;
        width: 150px;
    }
    
    .book-container a {
        font-size: 1.2rem;
    }
    
    .book-img {
        height: 200px;
        width: auto;
    }

    .books-slider {
        grid-auto-columns: calc((100% / 3));
        gap: 15px;
    }

    .right-btn {
        right: 0%;
    }
    
    .left-btn {
        left: 0%;
    }
}

/*Horizontal*/
@media (min-height: 481px) and (max-height: 899px) and (orientation: landscape) {
    .libreando-title h2{
        font-size: 1.2rem;
        padding-left: 10%;
    }
    
    .libreando-title h1{
        font-size: 4rem;
    }
    
    .libreando-text {
        font-size: 1.5rem;
    }

    
    .libreando-image img {
        width: 85%;
        height: auto;
    }
    
    .desc-text {
        font-size: 1.5rem;
    }
    
    .books h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .book-container a {
        font-size: 1.2rem;
    }

    .books-slider {
        grid-auto-columns: calc((100% / 4));
    }

    .right-btn {
        right: 0%;
    }
    
    .left-btn {
        left: 0%;
    }
}


/*Celulares*/
/*Vertical*/
@media (max-width: 480px) and (orientation: portrait) {
    .libreando-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
        
    .libreando-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .libreando-title h2{
        font-size: 1.2rem;
    }
    
    .libreando-title h1{
        font-size: 4rem;
    }
    
    .libreando-text {
        font-size: 1.5rem;
    }

    .libreando-image {
        margin-top: 20%;
    }
    
    .libreando-image img {
        width: 80%;
        height: auto;
    }

    .libreando-desc {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .desc-text {
        font-size: 1.5rem;
    }

    .desc-image {
        margin-top: 20%;
    }

    .books svg {
        width: 80px;
        height: 80px;
    }
        
    .books h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .book-container {
        height: 250px;
        width: 150px;
    }
    
    .book-container a {
        font-size: 1.2rem;
    }
    
    .book-img {
        height: 200px;
        width: auto;
    }

    .books-slider {
        grid-auto-columns: calc((100% / 2));
        gap: 15px;
    }

    .right-btn {
        right: 0%;
    }
    
    .left-btn {
        left: 0%;
    }
}

/*Horizontal*/
@media (max-height: 480px) and (orientation: landscape) {
    .libreando-title h2{
        font-size: 1rem;
        padding-left: 5%;
    }
    
    .libreando-title h1{
        font-size: 3rem;
    }
    
    .libreando-text {
        font-size: 1.3rem;
    }
    
    .libreando-image img {
        width: 65%;
        height: auto;
    }
    
    .desc-text {
        font-size: 1.5rem;
    }
    
    .books h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .book-container {
        height: 250px;
        width: 150px;
    }
    
    .book-container a {
        font-size: 1.2rem;
    }

    .book-img {
        height: 200px;
        width: auto;
    }

    .books-slider {
        grid-auto-columns: calc((100% / 4));
    }

    .right-btn {
        right: 0%;
    }
    
    .left-btn {
        left: 0%;
    }
}