{% extends 'base.html.twig' %}

{% block title %}Edit Copias Libro{% endblock %}

{% block body %}
    <h1>Edit Copias Libro</h1>

    {{ form_start(form) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}
