{% extends 'admin.html.twig' %}

{% block title %}Libros
{% endblock %}

{% block main %}
    <h1>Edit Libro</h1>

    {{ include('crud/libro/_form.html.twig')}}

    <a href="{{ path('app_libro_index') }}">Volver a la lista</a>

    {{ include('crud/libro/_delete_form.html.twig') }}
{% endblock %}
