{% extends 'admin.html.twig' %}

{% block title %}Registrar un nuevo libro
{% endblock %}

{% block main %}
	<h1>Registrar un nuevo libro</h1>

	{{ include('crud/libro/_form.html.twig')}}

{% endblock %}
