{% extends 'base.html.twig' %}

{% block title %}Crear nuevo libro
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/book-form.css') }}">
{% endblock %}

{% block body %}
	<h1>Nuevo libro</h1>

	{{ include('crud/libro/_form.html.twig')}}

{% endblock %}
