<form method="post" action="{{ path('app_usuario_aceptar', {'id': usuario.id}) }}" onsubmit="return confirm('¿Estas seguro de aceptar al usuario?');">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ usuario.id) }}">
    <button class="btn btn-primary">Activar</button>
</form>
